<!-- Custom SVG Favicon with cache busting -->
<link rel="icon" type="image/svg+xml" href="{{ .Site.BaseURL }}images/favicon.svg?v=3">
<link rel="icon" type="image/svg+xml" sizes="32x32" href="{{ .Site.BaseURL }}images/favicon.svg?v=3">
<link rel="icon" type="image/svg+xml" sizes="16x16" href="{{ .Site.BaseURL }}images/favicon.svg?v=3">
<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}images/favicon.svg?v=3">
<link rel="shortcut icon" href="{{ .Site.BaseURL }}images/favicon.svg?v=3">
<!-- For IE compatibility -->
<link rel="icon" type="image/x-icon" href="{{ .Site.BaseURL }}images/favicon.svg?v=3">
